@import url(https://fonts.googleapis.com/css?family=Montserrat);

/*********************
General styles
**********************/

* {
	margin:0;
	padding:0;
}

html, body {
	width:100%;
	height:100%;
}

body {
	font-family:sans-serif;
}

body > div {
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:transparent center no-repeat;
	background-size:cover;
}

/* .background::before {
	 content: "";
	 position: absolute;
	 width: 100%;
	 height: 100%;
	 top: 0;
	 left: 0;
	 right: 0;
	 bottom: 0;
	 background-color: rgba(0, 0, 0, .3);
 } */

 .title::before {
 	 content: "";
 	 position: absolute;
 	 width: 100%;
 	 height: 100%;
 	 top: 0;
 	 left: 0;
 	 right: 0;
 	 bottom: 0;
 	 background-color: rgba(0, 0, 0, .3);
  }

  .content::before {
  	 content: "";
  	 position: absolute;
  	 width: 100%;
  	 height: 100%;
  	 top: 0;
  	 left: 0;
  	 right: 0;
  	 bottom: 0;
  	 background-color: rgba(0, 0, 0, .3);
   }

/* .background:nth-child(1) {
	background-image:url('img/YokoInoue.jpg');
}

.background:nth-child(2) {
	overflow:hidden;
  background-image:url('img/paperbg4.jpg');
} */

.title {
  background-image:url('img/YokoInoue.jpg');
}

.content {
  overflow:hidden;
  background-image:url('img/paperbg4.jpg');
}

.box {
	position:absolute;
	left:0;
	top: 45%;
	height:10%;
	background:white;
}

p {
	margin:1em 0;
}

#properties {
	width:100%;
	height:100%;
	padding-top	text-align:center;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

/*********************
Grid and content organization styles
**********************/

.grid-container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 5vw;
  padding: 10vh;
  padding-top: 0;  /* prev: 5vh */
  padding-bottom: 0;
  align-items: center;
  text-align: left;
}

.grid-container-action {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 5vw;
  padding: 10vh;
  padding-top: 0;  /* prev: 5vh */
  padding-bottom: 0;
  align-items: center;
  text-align: left;
	height: 75vh;
}

 .content-wrapper {
	 height: 100vh;
	 display: flex;
	 justify-content: center;
	 text-align: center;
	 flex-flow: column nowrap;
	 color: #fff;
	 font-family: Montserrat;
	 text-transform: uppercase;
	 will-change: transform;
	 backface-visibility: hidden;
	 transition: all 1.7s cubic-bezier(0.22, 0.44, 0, 1);
}

/*********************
Title section styles
**********************/

.content-title {
  font-size: 17.5vh;
  line-height: 1;
  text-align: left;
  margin-left: 5vh;
  margin-top: -15vh;
  margin-bottom: 0;
}

.content-subtitle {
 font-size: 5vh;
 text-align: left;
 margin-left: 7.5vh;
 margin-top: 0;
}

#section01 a {
  text-align: center;
  position: relative;
  top: 20vh;
  color: rgba(255, 255, 255, 1.0);
  text-decoration: none;
}
#section01 a p {
  display: block;
  text-align: center;
}
#section01 a span {
  position: absolute;
  width: 10vh;
  height: 10vh;
  border-bottom: 1px solid #fff;
	border-right: 1px solid #fff;
	-webkit-transform: translate(-50%, 0%) rotate(45deg);
	-moz-transform: translate(-50%, 0%) rotate(45deg);
	transform: translate(-50%, 0%) rotate(45deg);
  box-sizing: border-box;
  margin-top: 2.5vh;
}

#section01 a:hover {
  cursor: default;
}

#section01 a span:hover {
  cursor: default;
}

/*********************
Misc
**********************/

.loading {
  font-size: 5vh;
  color: white;
  font-family: Montserrat;
  margin: 0;
  position: relative;
  top: 40vh;
  left: 5vh;
}

.section-title {
  font-size: 7.5vh;
  text-decoration: overline;
}

.writing p {
  text-transform: none;
  font-size: 2.3vh;
  line-height: 1.5;
	margin: 0;
}

.fancybox img {
  width: 14.625vh;
  height: 10vh;
}

.smaller .fancybox img {
	width: 8.775vh;
  height: 6vh;
}

.thumbnails p {
  font-size: 2vh;
  padding: 2vh;
  text-align: left;
	margin: 0;
}

.grid-thumbnails {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  text-align: left;
}

.caption {
  display: none;
}

.artist {
  font-size: 2.5vh;
}

.description {
  font-size: 2vh;
}

figure {
  display: inline;
}

.name {
  line-height: 2.5vh;
}

.credit {
	text-align: right;
}

.thank {
	font-size: 5vh;
	color: white;
	font-family: Montserrat;
	margin: 0;
	text-align: center;
	position: relative;
	top: 45vh;
	line-height: 7.5vh;
}

.scrollNote {
	font-size: 2.5vh;
}
